.item-card {
    scroll-snap-align: center; /*animación para que funcione el scroll de arriba y centra el scroll*/
    margin-top: 1px;
    border-radius: 30px;
    background: white;
    text-decoration: none;
    outline: none;
    color: black;
    margin: 4px;
    padding: 0px 7px;
  }
  
  .item-card a {
    border-radius: 30px;
    text-decoration: none;
    outline: none;
    color: inherit;
  }
  
  .item-card:hover {
    background: rgb(188, 31, 40);;
    color: white;
  }
  
  .item-card.active {
    background: rgb(188, 31, 40);;
    color: white;
  }