
.logo{
    display: flex;
    width: 320px;
    height: 288px;

 }

 .title {
    text-align: center;
    margin-bottom: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(49, 48, 48);
    }
    .btn {
        cursor: pointer;
        display: inline-block;
        width: 50%;
        background: rgb(188 31 40);
        padding: 15px;
        font-family: inherit;
        font-size: 19px;
        border: 0;
        border-radius: 10px;
        color: white;
        margin-top: 3em;
        margin-left: 60px;
        margin-right: 50px;
    }

.img{
    align-items: center; 
    justify-content: center;
    width: "270px";
}